{
    "bypass_domains": [
        "my.domain.com",
        "my_2nd.domain.com"],
    "custom_proxies":[
        {
            "name": "VPN Bypass",
            "host": "192.168.178.42",
            "port": 1337
        }]
}